# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\School\learn-a-language\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
